<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% if (user) { %>
        <h1>Welcome back to The Gear Corner!</h1>
        <h2>Let's add in some new gear, <%= user.username %>!</h2>
        <p>
            <a href="/auth/sign-out">Sign Out</a>
        </p>
    <% } else { %>
        <h1>Welcome to The Gear Corner!</h1>
        <p>Check out the gear you see us wield onstage!</p>
        <p>
            <a href="/auth/sign-up">Sign Up</a> or <a href="/auth/sign-in">Sign In</a>
        </p>
    <% } %>
    <img
    class="fruit-pic1"
    src="./alfredbgog.jpg"
    alt="Alfred Be Loud Logo"
    />
    <a class="fruits-index-link" href="/items">
      <div class="index-link-text">Browse Gear</div>
    </a>
</body>
</html>