<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=`, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <% if (user) { %>
        <h1>Welcome to The Gear Corner, <%= user.username %>!</h1>
        <p>
            <a href="/auth/sign-out">Sign Out</a>
        </p>
    <% } else { %>
        <h1>Welcome to The Gear Corner, Guest!</h1>
        <p>
            <a href="/auth/sign-up">Sign Up</a> or <a href="/auth/sign-in">Sign In</a>
        </p>
    <% } %>
    <p>Check out the gear you see us wield onstage!</p>
    <!-- <p>
        <a href="/vip-lounge">Get into the VIP Users Only Lounge</a>
    </p> -->
    <img
    class="fruit-pic1"
    src="https://cdn-icons-png.flaticon.com/128/5312/5312448.png"
    alt="happy fruit salad bowl"
    />
    <a class="items-index-link" href="/items">
      <div class="index-link-text">Browse Gear</div>
    </a>
</body>
</html>